<% layout('layouts/main') %>

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Personal de SIGECIM</h2>
        <a href="/usuarios/nuevo" class="btn btn-success">Crear Nuevo</a>
    </div>

    <div class="card shadow border-0">
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Rol</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% usuarios.forEach(u => { %>
                    <tr>
                        <td><%= u.nombre %> <%= u.apellido %></td>
                        <td><%= u.email %></td>
                        <td><span class="badge bg-primary"><%= u.rol %></span></td>
                        <td class="text-center">
                            <a href="/usuarios/editar/<%= u._id %>" class="btn btn-warning btn-sm">Editar</a>
                            
                            <form action="/usuarios/eliminar/<%= u._id %>?_method=DELETE" method="POST" class="d-inline">
                                <button class="btn btn-danger btn-sm" onclick="return confirm('¿Borrar a este usuario?')">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>